.recommendations {
    padding: 20px;
    background-color: #141414;
    text-align: left;
    color: white;
}

.recommendations h2 {
    font-size: 1.8rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.recommendations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.recommendations .movie-card {
    margin: 5px;
}

.loading,
.logged-out {
    color: white;
}