.movie-watch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.movie-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.bi-house-door {
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 18px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.bi-house-door:hover {
    transform: scale(1.35);
}

.loading,
.logged-out {
    color: white;
}